PORT=80

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=main

JWT_SECRET_KEY=secretkeysecretkeysecretkeysecretkeysecretkeysecretkeysecretkeysecretkey
JWT_EXPIRES_HOURS=12
JWT_ISSUER=http://localhost/docs/auth/
